.profile {
  .profile-header {
    .header-container {
      position: relative;

      .cover-picture {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
      }

      .header-desc {
        position: absolute;
        top: 86px;
        left: 0;
        bottom: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(sm) {
          top: 66px;
        }

        .profile-picture {
          border-radius: 100%;
          width: 200px;
          height: 200px;
          margin-bottom: 50px;
        }

        .profile-name {
          width: 100%;
          padding: 10px 0;
          text-align: center;
          font-size: 24px;
          color: $color-secondary;
          background-image: linear-gradient(
            90deg,
            rgba(#fff, 0.05),
            rgba(#fff, 0.9),
            rgba(#fff, 0.05)
          );
        }
      }
    }
  }

  .card.border {
    @include media-breakpoint-down(xs) {
      border-radius: 0;
    }
  }

  .genres-container {
    margin-top: 50px;
    margin-bottom: 30px;

    .genres-title {
      color: $color-grey-dark-1;
    }

    .genres {
      .genre-item {
        background-color: $color-grey-light-1;
        color: $color-secondary;
        padding: 10px 20px;
        margin: 2px;
      }
    }
  }
}

.social-book-container {
  margin-bottom: 30px;

  .social-container {
    display: flex;

    a:hover {
      text-decoration: none;
    }

    & > *:not(:last-child) {
      margin-right: 50px;
    }

    .social-item {
      font-size: 30px;
      background-color: $color-primary;
      color: #fff;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      &--facebook {
        background-color: #3b5998;
      }
      &--twitter {
        background-color: #00acee;
      }
      &--instagram {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
      }
    }
  }

  .book-container {
    .btn {
      color: #fff;
      border-radius: 30px;
    }
  }
}

.schedule-partner-container {
  margin-bottom: 50px;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  .card-deck {
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .card-title {
    color: $color-secondary;
  }

  .schedule-container {
    @include media-breakpoint-down(md) {
      margin-bottom: -1px !important;
    }

    &.card.border {
      @include media-breakpoint-down(md) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .partner-container {
    &.card.border {
      @include media-breakpoint-down(md) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.tab-container {
  margin-bottom: 50px;

  .nav {
    flex-wrap: nowrap;

    .nav-item {
      width: 250px;
      text-align: center;

      .nav-link {
        border-radius: 0;
        border-left: 1px solid $color-grey-light-2;
        border-right: 1px solid $color-grey-light-2;
        color: $color-secondary;
        font-weight: 500;

        &:hover {
          color: $color-primary;
        }
      }
      .active {
        border-left: 1px solid $color-secondary;
        border-right: 1px solid $color-secondary;
        color: $color-primary;
        background-color: transparent;
      }
    }
  }

  .tab-content {
    padding: 30px;
    border-right: 1px solid $color-grey-light-2;
    border-left: 1px solid $color-grey-light-2;

    .bio {
    }
    .music {
    }
    .video {
      .video-container {
        margin-bottom: 30px;
      }
    }
    .review {
      &__card {
        padding: 30px;

        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }

        @include media-breakpoint-down(sm) {
          align-items: flex-start;
        }

        &-picture {
          img {
            border-radius: 100%;
            height: 150px;
            width: 150px;
            margin-right: 50px;
            object-fit: cover;

            @include media-breakpoint-down(sm) {
              height: 80px;
              width: 80px;
            }
          }
        }

        &-content {
          &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-name {
              font-family: $font-title;
              font-size: 14px;
              font-weight: 600;
            }

            &-rating {
              font-family: $font-title;
              font-size: 20px;
              color: $color-primary;
            }
          }

          &--description {
            font-size: 12px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
}
